@media (prefers-color-scheme: dark) {

    //CSS
    :root {
        --bg-primary: black;
        --bg-secondary: #232323;
        --bg-tertiary: #7a7a7a;

        --color-primary: white;

        --semi-transparent-bg: rgba(0, 0, 0, 50%);

        --scrollbar-track-bg-color: black;
        --scrollbar-thumb-bg-color: #ababab;
        --scrollbar-thumb-bg-color--hover: #8a8a8a;
        --scrollbar-thumb-bg-color--active: #4f4f4f;

        --selection-bg: #838383;
        --selection-color: white;

        --selection-bg-color: orange;
        --selection-color: black;
    }


    ::backdrop {
        --backdrop-bg-color: rgba(0, 0, 0, 0.5);

        --scrollbar-track-bg-color: black;

        --scrollbar-thumb-bg-color: #ababab;
        --scrollbar-thumb-bg-color--hover: #8a8a8a;
        --scrollbar-thumb-bg-color--active: #4f4f4f;
    }
}